#main {
  box-sizing: border-box;
}
#title,
#img-caption,
h2 {
  text-align: center;
}

#image {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

/* #tribute-info {
  margin: 0 auto;
} */

#tribute-info > p,
ul {
  font-size: 19px;
  line-height: 30px;
}
